<div class="content-form">
    <h3>Şərhlər</h3>    

    <form method="post">
        <input type="text" placeholder="Adı" name="Blogid" value="@ViewBag.GetId" required />
        <input type="text" placeholder="Adı" name="IstifadeciAd" required />
        <input type="text" placeholder="Mail" name="Mail" required />
        <textarea placeholder="Şərh" name="CommentString"></textarea>
        <input type="submit" value="Göndər" />
    </form>
</div>
