
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>

    
    <div class="container">
        <h4>Şirkətimiz Barəsində Təklif və Iradlarınızı Bizimlə Bölüşün</h4>
        <br />
        <form method="post">
            @using (@Html.BeginForm("Index", "Contact", FormMethod.Post))
            {
                            
            <label for="fname">Ad,Soyad</label>
            <input type="text" id="fname" name="AdSoyad" placeholder="Adınız Soyadınız...">

            <label for="lname">Mail</label>
            <input type="text" id="lname" name="Mail" placeholder="Mail Ünvanı..">

            <label for="lname">Mövzu</label>
            <input type="text" id="lname" name="Movzu" placeholder="Qısa Başlıq..">
            
            <label for="subject">Mesaj</label>
            <textarea id="subject" name="Mesaj" placeholder="Nəsə yazın..." style="height:200px"></textarea>

            <input type="submit" value="Göndər">
            }
        </form>
    </div>

</body>
</html>

